*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

.sidebar{
    display: flex;
    height: 100%;
}

.aside{
    height: 100%;
    background-color: black;
    width: 250px;
    position: relative;
    left: -250px;
    transition: 300ms;
}

ul,li{
    list-style: none;
    color:white;
    font-size: 50px;
    margin: 60px 0;
    text-align: center;
}

.sidebar-button{
    position: relative;
    left: -275px;
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    transform: rotate(90deg);
    margin-top: 25px;
    border: none;
    transition: 300ms;
}

.open-button{
    left: -25px;  
}

.open-aside{
    left: 0;
}


